@import "variables.scss";
@import "mixins.scss";

.header {
  color: #fff;
  padding: 38px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: $wrp-size;
  box-sizing: border-box;
  margin: 0 auto;

  &-logo {
    &-img {
      display: block;
      float: left;
      box-sizing: border-box;
    }

    &-name {
      font-size: 34px;
      line-height: 60px;
      letter-spacing: -1px;
    }
  }

  &-nav {
    &-list {
      min-height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;

      &-item {
        color: #fff;
        text-decoration: none;
        margin-left: 28px;
        font-family: $font-montserrat;
        font-weight: 300;
        font-size: 14px;

        &:hover {
          color: $color-text-selected;
        }

        &-active {
          @extend .header-nav-list-item;
          color: $color-text-selected;
        }

        &-cart {
          display: block;
          width: 20px;
          height: 28px;
          margin-left: 62px;

          &:hover path {
            fill: $color-text-selected;
          }
        }

        &-search {
          display: block;
          width: 27px;
          height: 28px;
          margin-left: 28px;

          &:hover path {
            fill: $color-text-selected;
          }
        }
      }
    }
  }
}

.header-nav-list-item {
  text-transform: capitalize;
}
