@import "variables.scss";

@mixin slides-btn {
  display: block;
  width: 42px;
  height: 75px;
  position: absolute;
  top: 100px;
  opacity: 0.5;
  background-color: transparent;
  border: 0;
  fill: #fff;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &:active {
    fill: darken($color: $color-text-selected, $amount: 10%);
  }

  &:focus {
    outline: none;
  }
}

@mixin button {
  text-decoration: none;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  background-color: $color-btn;
  box-shadow: inset 0px -3px 0 0 $color-shadow;
  display: block;
  width: 170px;
  height: 50px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;

  &:hover {
    background-color: $color-shadow;
    cursor: pointer;
    box-shadow: none;
  }
  &:active {
    background-color: darken($color: $color-shadow, $amount: 10%);
    box-shadow: none;
  }
}

@mixin text-p(
  $f-size: 16px,
  $l-height: 1.75,
  $color: $color-text,
  $f-weight: $font-weight-400,
  $t-align: left
) {
  font-size: $f-size;
  color: $color;
  font-family: $font-montserrat;
  line-height: $l-height;
  font-weight: $f-weight;
  display: block;
  text-align: $t-align;
}

@mixin text-h2(
  $f-size: 30px,
  $align: center,
  $f-weight: $font-weight-600,
  $color: $color-header
) {
  font-size: $f-size;
  font-weight: $f-weight;
  text-align: $align;
  color: $color;
}

@mixin text-h3(
  $f-size: 20px,
  $align: left,
  $f-weight: $font-weight-500,
  $color: $color-text-selected
) {
  font-size: $f-size;
  font-weight: $f-weight;
  text-align: $align;
  color: $color;
}

@mixin text-h4(
  $f-size: 24px,
  $align: left,
  $f-weight: $font-weight-600,
  $color: #fff
) {
  font-size: $f-size;
  font-weight: $f-weight;
  text-align: $align;
  color: $color;
  text-transform: capitalize;
}

@mixin recent-wrp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 24px;
  margin-right: 30px;
}

@mixin recent-post {
  width: 274px;
  box-sizing: border-box;
  border-bottom: 2px solid #252525;
  display: block;
  text-decoration: none;
  padding-bottom: 18px;
  margin-bottom: 18px;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }

  &-date {
    @include text-p(
      $f-size: 12px,
      $l-height: 12px,
      $color: #363636,
      $f-weight: $font-weight-500,
      $t-align: left
    );
  }

  &-p {
    @include text-p(
      $f-size: 14px,
      $l-height: 20px,
      $color: $color-header,
      $f-weight: $font-weight-500,
      $t-align: left
    );
  }
}
