@import "variables.scss";
@import "mixins.scss";
@import "button-small.scss";
@import "../fonts/montserrat/montserrat.css";
@import "../fonts/raleway/raleway.css";

* {
  font-family: "Raleway", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1170px;
  margin: 0 auto;
}

.clr:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}

.header {
  color: #fff;
  padding: 38px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: $wrp-size;
  box-sizing: border-box;
  margin: 0 auto;

  &-logo {
    text-decoration: none;
    fill: #fff;
    color: #fff;

    &:hover {
      fill: $color-text-selected;
      color: $color-text-selected;
    }

    &-img {
      display: block;
      float: left;
      box-sizing: border-box;
    }

    &-name {
      font-size: 34px;
      line-height: 60px;
      letter-spacing: -1px;
    }
  }

  &-nav {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &-item {
      text-transform: capitalize;
      color: #fff;
      text-decoration: none;
      margin-left: 28px;
      font-family: $font-montserrat;
      font-weight: $font-weight-main;
      font-size: 14px;

      &:hover {
        color: $color-text-selected;
      }

      &.active {
        color: $color-text-selected;
      }

      &-cart {
        display: block;
        width: 20px;
        height: 28px;
        margin-left: 62px;
        fill: #fff;
        background-color: transparent;
        border: 0;
        outline: none;

        &:hover {
          fill: $color-text-selected;
          cursor: pointer;
        }
      }

      &-search {
        display: block;
        width: 27px;
        height: 28px;
        position: relative;
        margin-left: 28px;

        &-lable {
          fill: #fff;
          display: block;

          &:hover {
            fill: $color-text-selected;
            cursor: pointer;
          }
        }

        &-input {
          position: absolute;
          right: -28px;
          top: 38px;
          height: 36px;
          width: 0px;
          border: 0;
          outline: none;

          &:focus {
            width: 260px;
            padding: 8px;
          }

          &:active {
            width: 260px;
            padding: 8px;
          }
        }
      }
    }
  }
}

.slides {
  background: url(../img/bg_slider.jpg) 50% 50% no-repeat;
  background-color: #404040;
  background-size: cover;
  max-height: 1024px;
  min-height: 600px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-switcher {
    @include slides-btn;

    &.left {
      left: 150px;
    }

    &.right {
      right: 150px;
    }
  }

  &-wrp {
    color: #fff;
    text-align: center;
    position: relative;
  }

  &-pretitle {
    font-size: 36px;
    font-weight: 500;
  }

  &-title {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 52px;
    font-weight: 800;
  }

  &-description {
    @include text-p($l-height: 1.5, $color: #fff, $t-align: center);
    margin: 0 auto 44px;
    width: 590px;
  }

  &-btn {
    @include button;
    margin: 0 auto;
  }

  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    &-title {
      position: relative;
      margin: 0 5px;
      cursor: pointer;
    }
    &-item {
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.5;
      box-sizing: padding-box;
      margin: 0 5px;

      &:hover {
        opacity: 0.8;
      }

      &.checked {
        opacity: 1;
        border: 2px solid #d3c1ad;
        background-color: transparent;
        margin: 0 3px;
      }
    }
  }
}

// SERVICES

.services {
  padding: 80px;
  display: flex;
  justify-content: center;

  &-item {
    width: 276px;
    text-align: center;
    margin: 0 12px;

    &:hover {
      cursor: pointer;
      & .services-item-title {
        color: $color-text-selected;
      }

      & .services-item-img {
        fill: $color-text-selected;
      }

      &:after {
        border-color: $color-text-selected;
      }
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 48px;
      margin-bottom: 25px;
      fill: $color-header;
    }

    &-title {
      font-size: 22px;
      font-weight: 600;
      color: $color-header;
      margin-bottom: 14px;
      display: block;
    }

    &-p {
      @include text-p($f-size: 14px, $t-align: center);
      margin-bottom: 26px;
    }

    &:after {
      content: "";
      display: block;
      width: 70px;
      border: 0;
      border-bottom: 3px solid #f1eee9;
      margin: 0 auto;
    }
  }
}

.theme {
  background-color: $color-bg;
  padding-top: 80px;

  &-title {
    @include text-h2;
    margin-bottom: 16px;
  }

  &-p {
    @include text-p($t-align: center);
    margin: 0 auto 34px;
    width: 780px;
  }

  &-img {
    display: block;
    margin: 0 auto;
  }
}

.purchase {
  background-image: $color-bg-gradient;

  &-wrp {
    max-width: ($wrp-size)-60px;
    padding: 44px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    @include text-h2(28px, left, 400, #fff);

    &-color {
      color: $color-text-selected;
    }
  }

  &-p {
    @include text-p($f-size: 18px, $color: #615855);
  }

  &-btn {
    @include button;
    margin-right: 20px;
  }
}

.projects {
  padding: 80px 0;

  &-title {
    @extend .theme-title;
  }

  &-p {
    @extend .theme-p;
  }

  &-btns {
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
  }

  & .btn-small {
    margin: 0 5px;
  }

  &-wrp {
    max-width: $wrp-size;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-item {
    margin: 0 15px 30px;
    width: 370px;
    background-color: $color-bg;
    position: relative;
    min-height: 337px;

    &:last-child {
      margin-bottom: 40px;
    }

    &-onhover {
      position: absolute;
      background-color: rgba(1, 1, 1, 0.7);
      justify-content: center;
      align-items: center;
      width: 370px;
      height: 237px;
      display: none;

      &-icon {
        margin: 14px;
        fill: #fff;

        &:hover {
          fill: $color-text-selected;
        }
      }
    }

    &:hover {
      background-color: $color-bg-dark;

      & .projects-item-onhover {
        display: flex;
      }

      & .projects-item-title {
        color: #fff;
      }

      & .projects-item-p {
        color: $color-text-selected;
      }

      & .projects-item-text:before {
        border-bottom-color: $color-bg-dark;
      }
    }

    &-img {
      display: block;
    }

    &-text {
      padding: 27px 28px;
      height: 100px;
      box-sizing: border-box;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 19px;
        top: -25px;
        display: block;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-bottom: 10px solid $color-bg;
      }
    }

    &-title {
      @include text-h3;
      margin-bottom: 3px;
      text-transform: capitalize;
    }

    &-p {
      @include text-p($f-size: 14px, $color: #d1d1d1);
    }
  }

  &-btn {
    @include button;
    margin: 0 auto;
  }
}

.video {
  height: 705px;
  position: relative;

  &-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #404040;
  }

  &-front {
    background: url(../img/video_poster.jpg) no-repeat 50% 50% #404040;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  &-btn {
    background-color: transparent;
    border: none;
    outline: none;
    fill: #fff;

    &:hover {
      cursor: pointer;
      fill: $color-text-selected;
    }

    &-icon {
      display: block;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      margin: 0 auto 40px;
    }
  }

  &-title {
    @include text-h2($f-weight: 500, $color: #fff);
    margin-bottom: 15px;
  }

  &-p {
    @include text-p($color: #fff, $t-align: center);
    width: 570px;
    margin: 0 auto 30px;
  }

  &-time {
    font-size: 14px;
    color: $color-text-selected;
    text-align: center;
    font-weight: $font-weight-second;
    font-family: $font-montserrat;
  }
}

.mobile {
  padding-top: 80px;
  display: flex;
  justify-content: center;

  &-img {
    margin-right: 30px;
    margin-left: 80px;
  }

  &-text {
    &-title {
      @include text-h2($align: left);
      margin-bottom: 26px;
      margin-top: 110px;
    }

    &-p {
      @include text-p;
      width: 670px;
      margin-bottom: 32px;
    }

    &-list {
      list-style: none;
      margin-left: 48px;
      padding-left: 50px;

      &-item {
        @include text-p;
        margin-bottom: 12px;
        position: relative;
        line-height: 21px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          background-image: url(../img/mobile-list-item.svg);
          width: 21px;
          height: 21px;
          left: -50px;
        }
      }
    }
  }
}

.stats {
  background-image: $color-bg-gradient;
  padding: 70px 0 60px;
  display: flex;
  justify-content: center;

  &-item {
    min-width: 100px;
    margin: 0 42px;

    &-img {
      fill: $color-text-selected;
      display: block;
      margin: 0 auto 22px;
    }

    &-value {
      @include text-p(
        $f-size: 48px,
        $l-height: 1,
        $color: #fff,
        $f-weight: 200,
        $t-align: center
      );
      margin-bottom: 12px;
    }

    &-name {
      @include text-p(
        $f-size: 13px,
        $l-height: 1,
        $color: $color-text-selected,
        $f-weight: 400,
        $t-align: center
      );
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    &:after {
      content: "";
      display: block;
      width: 30px;
      border: 0;
      border-bottom: 2px solid #fff;
      margin: 0 auto;
    }
  }
}

.posts {
  padding: 75px 0;

  &-title {
    @extend .theme-title;
  }

  &-p {
    @extend .theme-p;
  }

  &-wrp {
    max-width: $wrp-size;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-item {
    margin: 0 15px 30px;
    width: 370px;
    background-color: $color-bg;
    position: relative;
    min-height: 395px;
    box-sizing: border-box;

    &:last-child {
      margin-bottom: 40px;
    }

    &:hover {
      background-color: $color-bg-dark;

      & .posts-item-wrp {
        background-color: rgba(1, 1, 1, 0.7);
      }

      & .posts-item-wrp-date-d {
        background-color: $color-text-selected;
      }

      & .posts-item-wrp-date-m {
        background-color: #a48d72;
      }

      & .posts-item-text {
        border-color: transparent;
      }

      & .posts-item-title {
        color: $color-text-selected;
      }

      & .posts-item-p {
        color: #fff;
      }

      & .posts-item-text:before {
        border-bottom-color: $color-bg-dark;
      }
    }

    &-img {
      display: block;
    }

    &-wrp {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 220px;
      width: 370px;

      &-date {
        border-radius: 3px;
        overflow: hidden;
        width: 50px;

        &-d {
          @include text-p(
            $f-size: 24px,
            $color: #fff,
            $l-height: 1,
            $f-weight: $font-weight-main,
            $t-align: center
          );
          padding: 6px 0;
          width: 50px;
          background-color: #363636;
        }

        &-m {
          @include text-p(
            $f-size: 12px,
            $color: #fff,
            $l-height: 1,
            $f-weight: $font-weight-main,
            $t-align: center
          );
          padding: 6px 0;
          width: 50px;
          background-color: #252525;
        }
      }

      &-pagination {
        @extend .slides-pagination;
        margin: 0;

        &-item {
          @extend .slides-pagination-item;
          opacity: 0.3;
        }
      }
    }

    &-text {
      padding: 27px 28px;
      box-sizing: border-box;
      border: solid 1px #f8f8f8;
      border-top: 0;
    }

    &-title {
      @include text-h3($color: $color-header);
      margin-bottom: 12px;
    }

    &-p {
      @include text-p($f-size: 14px, $color: $color-text);
      margin-bottom: 16px;
    }

    &-link {
      @include text-p($f-size: 14px, $color: $color-text-selected);
      text-decoration: none;
      display: inline;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        border: 4px solid transparent;
        border-left: 5px solid $color-text-selected;
        width: 0;
        height: 0;
        right: -18px;
        top: 6px;
      }
    }
  }

  &-btn {
    @include button;
    margin: 0 auto;
  }
}

.services,
.projects,
.theme,
.purchase,
.slides,
.video,
.mobile,
.stats {
  // display: none;
}
