@import "variables.scss";
@import "mixins.scss";
@import "button-small.scss";
@import "../fonts/montserrat/montserrat.css";
@import "../fonts/raleway/raleway.css";

* {
  font-family: "Raleway", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  min-width: 1170px;
  margin: 0 auto;
}

.clr:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
}

.header {
  color: #fff;
  padding: 38px 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: $wrp-size;
  box-sizing: border-box;
  margin: 0 auto;

  &-logo {
    display: block;
    min-width: 182px;
    text-decoration: none;
    fill: #fff;
    color: #fff;
    transition: fill $animation-duration ease, color $animation-duration ease;

    &:hover {
      fill: $color-text-selected;
      color: $color-text-selected;
    }

    &:active {
      fill: darken($color: $color-text-selected, $amount: 10%);
      color: darken($color: $color-text-selected, $amount: 10%);
    }

    &-img {
      display: block;
      float: left;
      box-sizing: border-box;
    }

    &-name {
      font-size: 34px;
      line-height: 60px;
      letter-spacing: -1px;
      font-weight: $font-weight-400;
    }
  }

  &-nav {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &-item {
      text-transform: capitalize;
      color: #fff;
      text-decoration: none;
      margin-left: 28px;
      font-family: $font-montserrat;
      font-weight: $font-weight-400;
      font-size: 14px;
      transition: color $animation-duration ease;

      &:hover {
        color: $color-text-selected;
      }

      &:active {
        color: darken($color: $color-text-selected, $amount: 10%);
      }

      &.selected {
        color: $color-text-selected;
      }

      &-cart {
        display: block;
        width: 20px;
        height: 28px;
        margin-left: 62px;
        fill: #fff;
        background-color: transparent;
        border: 0;
        outline: none;
        transition: fill $animation-duration ease;

        &:hover {
          fill: $color-text-selected;
          cursor: pointer;
        }

        &:active {
          fill: darken($color: $color-text-selected, $amount: 10%);
        }
      }

      &-search {
        display: block;
        width: 27px;
        height: 28px;
        position: relative;
        margin-left: 28px;

        &-lable {
          fill: #fff;
          display: block;
          transition: fill $animation-duration ease;

          &:hover {
            fill: $color-text-selected;
            cursor: pointer;
          }

          &:active {
            fill: darken($color: $color-text-selected, $amount: 10%);
          }
        }

        &-input {
          position: absolute;
          right: 0px;
          top: 38px;
          height: 36px;
          width: 0px;
          border: 0;
          outline: none;
          background-color: rgba(255, 255, 255, 0.4);
          color: #fff;
          border-radius: 4px;
          transition: width $animation-duration ease;

          &:focus {
            width: 260px;
            padding: 8px;
          }

          &:active {
            width: 260px;
            padding: 8px;
          }
        }
      }
    }
  }
}

.slides {
  background: url(../img/bg_slider.jpg) 50% 50% no-repeat;
  background-color: #404040;
  background-size: cover;
  max-height: 1024px;
  min-height: 600px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-switcher {
    @include slides-btn;

    &.left {
      left: 150px;
    }

    &.right {
      right: 150px;
    }
  }

  &-wrp {
    color: #fff;
    text-align: center;
    position: relative;
  }

  &-pretitle {
    font-size: 36px;
    font-weight: $font-weight-500;
  }

  &-title {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 52px;
    font-weight: $font-weight-800;
  }

  &-description {
    @include text-p($l-height: 1.5, $color: #fff, $t-align: center);
    margin: 0 auto 44px;
    width: 590px;
  }

  &-btn {
    @include button;
    margin: 0 auto;
  }

  &-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    &-item {
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.5;
      margin: 0 5px;
      transition: opacity $animation-duration ease;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        background-color: darken($color: $color-text-selected, $amount: 10%);
      }

      &.checked {
        opacity: 1;
        border: 2px solid #d3c1ad;
        background-color: transparent;
        margin: 0 3px;
      }
    }
  }
}

// SERVICES

.services {
  padding: 80px 0;
  display: flex;
  justify-content: center;

  &-item {
    width: 276px;
    text-align: center;
    margin: 0 12px;
    cursor: pointer;

    &:hover {
      & .services-item-title {
        color: $color-text-selected;
      }

      & .services-item-img {
        fill: $color-text-selected;
      }

      &:after {
        border-color: $color-text-selected;
      }
    }

    &:active {
      & .services-item-title {
        color: darken($color: $color-text-selected, $amount: 10%);
      }

      & .services-item-img {
        fill: darken($color: $color-text-selected, $amount: 10%);
      }

      &:after {
        border-color: darken($color: $color-text-selected, $amount: 10%);
      }
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 48px;
      margin-bottom: 25px;
      fill: $color-header;
      transition: fill $animation-duration ease;
    }

    &-title {
      font-size: 22px;
      font-weight: $font-weight-600;
      color: $color-header;
      margin-bottom: 14px;
      display: block;
      transition: color $animation-duration ease;
    }

    &-p {
      @include text-p($f-size: 14px, $t-align: center);
      margin-bottom: 26px;
    }

    &:after {
      content: "";
      display: block;
      width: 70px;
      border: 0;
      border-bottom: 3px solid #f1eee9;
      margin: 0 auto;
      transition: border-color $animation-duration ease;
    }
  }
}

.theme {
  background-color: $color-bg;
  padding-top: 80px;

  &-title {
    @include text-h2;
    margin-bottom: 16px;
  }

  &-p {
    @include text-p($t-align: center);
    margin: 0 auto 34px;
    width: 780px;
  }

  &-img {
    display: block;
    margin: 0 auto;
  }
}

.purchase {
  background-image: $color-bg-gradient;

  &-wrp {
    max-width: ($wrp-size)-60px;
    padding: 44px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    @include text-h2(28px, left, 400, #fff);

    &-color {
      color: $color-text-selected;
    }
  }

  &-p {
    @include text-p($f-size: 18px, $color: #615855);
  }

  &-btn {
    @include button;
    margin-right: 20px;
  }
}

.projects {
  padding: 80px 0;

  &-title {
    @extend .theme-title;
  }

  &-p {
    @extend .theme-p;
  }

  &-btns {
    display: flex;
    justify-content: center;
    margin: 0 auto 40px;
  }

  & .btn-small {
    margin: 0 5px;
  }

  &-wrp {
    max-width: $wrp-size;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-item {
    margin: 0 15px 30px;
    width: 370px;
    background-color: $color-bg;
    position: relative;
    min-height: 337px;
    transition: background-color $animation-duration ease;

    &:last-child {
      margin-bottom: 40px;
    }

    &-onhover {
      position: absolute;
      background-color: rgba(1, 1, 1, 0);
      justify-content: center;
      align-items: center;
      width: 370px;
      height: 237px;
      display: flex;
      opacity: 0;
      transition: background-color $animation-duration ease;

      &-icon {
        margin: 14px;
        fill: #fff;
        transition: fill $animation-duration ease;

        &:hover {
          fill: $color-text-selected;
        }

        &:active {
          fill: darken($color: $color-text-selected, $amount: 10%);
        }
      }
    }

    &:hover {
      background-color: $color-bg-dark;

      & .projects-item-onhover {
        display: flex;
        opacity: 1;
        background-color: rgba(1, 1, 1, 0.7);
      }

      & .projects-item-title {
        color: #fff;
      }

      & .projects-item-p {
        color: $color-text-selected;
      }

      & .projects-item-text:before {
        border-bottom-color: $color-bg-dark;
      }
    }

    &-img {
      display: block;
    }

    &-text {
      padding: 27px 28px;
      height: 100px;
      box-sizing: border-box;
      position: relative;
      transition: color $animation-duration ease;

      &:before {
        content: "";
        position: absolute;
        left: 19px;
        top: -25px;
        display: block;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-bottom: 10px solid $color-bg;
        transition: border-color $animation-duration ease;
      }
    }
    &-title {
      @include text-h3;
      margin-bottom: 3px;
      text-transform: capitalize;
      transition: color $animation-duration ease;
    }

    &-p {
      @include text-p($f-size: 14px, $color: #d1d1d1);
      transition: color $animation-duration ease;
    }
  }

  &-btn {
    @include button;
    margin: 0 auto;
  }
}

.video {
  height: 705px;
  position: relative;

  &-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #404040;
  }

  &-front {
    background: url(../img/video_poster.jpg) no-repeat 50% 50% #404040;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  &-btn {
    background-color: transparent;
    border: none;
    outline: none;
    fill: #fff;
    cursor: pointer;
    transition: fill $animation-duration ease;

    &:hover {
      fill: $color-text-selected;
    }

    &:active {
      fill: darken($color: $color-text-selected, $amount: 10%);
    }

    &-icon {
      display: block;
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      margin: 0 auto 40px;
    }
  }

  &-title {
    @include text-h2($f-weight: $font-weight-500, $color: #fff);
    margin-bottom: 15px;
  }

  &-p {
    @include text-p($color: #fff, $t-align: center);
    width: 570px;
    margin: 0 auto 30px;
  }

  &-time {
    font-size: 14px;
    color: $color-text-selected;
    text-align: center;
    font-weight: $font-weight-500;
    font-family: $font-montserrat;
  }
}

.mobile {
  padding-top: 80px;
  display: flex;
  justify-content: center;

  &-img {
    margin-right: 30px;
    margin-left: 80px;
  }

  &-text {
    &-title {
      @include text-h2($align: left);
      margin-bottom: 26px;
      margin-top: 110px;
    }

    &-p {
      @include text-p;
      width: 670px;
      margin-bottom: 32px;
    }

    &-list {
      list-style: none;
      margin-left: 48px;
      padding-left: 50px;

      &-item {
        @include text-p;
        margin-bottom: 12px;
        position: relative;
        line-height: 21px;

        &:before {
          content: "";
          display: block;
          position: absolute;
          background-image: url(../img/mobile-list-item.svg);
          width: 21px;
          height: 21px;
          left: -50px;
        }
      }
    }
  }
}

.stats {
  background-image: $color-bg-gradient;
  padding: 70px 0 60px;
  display: flex;
  justify-content: center;

  &-item {
    min-width: 100px;
    margin: 0 42px;

    &-img {
      fill: $color-text-selected;
      display: block;
      margin: 0 auto 22px;
    }

    &-value {
      @include text-p(
        $f-size: 48px,
        $l-height: 1,
        $color: #fff,
        $f-weight: $font-weight-200,
        $t-align: center
      );
      margin-bottom: 12px;
    }

    &-name {
      @include text-p(
        $f-size: 13px,
        $l-height: 1,
        $color: $color-text-selected,
        $f-weight: $font-weight-400,
        $t-align: center
      );
      text-transform: uppercase;
      margin-bottom: 30px;
    }

    &:after {
      content: "";
      display: block;
      width: 30px;
      border: 0;
      border-bottom: 2px solid #fff;
      margin: 0 auto;
    }
  }
}

.posts {
  padding: 75px 0;

  &-title {
    @extend .theme-title;
  }

  &-p {
    @extend .theme-p;
  }

  &-wrp {
    max-width: $wrp-size;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-item {
    margin: 0 15px 40px;
    width: 370px;
    background-color: $color-bg;
    position: relative;
    min-height: 395px;
    box-sizing: border-box;
    transition: background-color $animation-duration ease;

    &:last-child {
      margin-bottom: 40px;
    }

    &:hover {
      background-color: $color-bg-dark;

      & .posts-item-wrp {
        background-color: rgba(1, 1, 1, 0.7);
      }

      & .posts-item-wrp-date-d {
        background-color: $color-text-selected;
      }

      & .posts-item-wrp-date-m {
        background-color: #a48d72;
      }

      & .posts-item-text {
        border-color: transparent;
      }

      & .posts-item-title {
        color: $color-text-selected;
      }

      & .posts-item-p {
        color: #fff;
      }

      & .posts-item-text:before {
        border-bottom-color: $color-bg-dark;
      }
    }

    &-img {
      display: block;
    }

    &-wrp {
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 220px;
      width: 370px;
      transition: background-color $animation-duration ease;

      &-date {
        border-radius: 3px;
        overflow: hidden;
        width: 50px;

        &-d {
          @include text-p(
            $f-size: 24px,
            $color: #fff,
            $l-height: 1,
            $f-weight: $font-weight-400,
            $t-align: center
          );
          padding: 6px 0;
          width: 50px;
          background-color: #363636;
          transition: background-color $animation-duration ease;
        }

        &-m {
          @include text-p(
            $f-size: 12px,
            $color: #fff,
            $l-height: 1,
            $f-weight: $font-weight-400,
            $t-align: center
          );
          padding: 6px 0;
          width: 50px;
          background-color: #252525;
          transition: background-color $animation-duration ease;
        }
      }

      &-pagination {
        @extend .slides-pagination;
        margin: 0;

        &-item {
          @extend .slides-pagination-item;
          opacity: 0.3;
        }
      }
    }

    &-text {
      padding: 27px 28px;
      box-sizing: border-box;
      border: solid 1px #f8f8f8;
      border-top: 0;
    }

    &-title {
      @include text-h3($color: $color-header);
      margin-bottom: 12px;
      transition: color $animation-duration ease;
    }

    &-p {
      @include text-p($f-size: 14px, $color: $color-text);
      margin-bottom: 16px;
      transition: color $animation-duration ease;
    }

    &-link {
      @include text-p($f-size: 14px, $color: $color-text-selected);
      text-decoration: none;
      display: inline;
      position: relative;
      transition: color $animation-duration ease;

      &:hover {
        color: darken($color: $color-text-selected, $amount: 10%);
        &:after {
          border-left-color: darken($color: $color-text-selected, $amount: 10%);
        }
      }

      &:active {
        color: darken($color: $color-text-selected, $amount: 20%);
        &:after {
          border-left-color: darken($color: $color-text-selected, $amount: 20%);
        }
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        border: 4px solid transparent;
        border-left: 5px solid $color-text-selected;
        width: 0;
        height: 0;
        right: -18px;
        top: 6px;
        transition: border-left-color $animation-duration ease;
      }
    }
  }

  &-btns {
    display: flex;
    justify-content: center;

    &-item {
      background-color: transparent;
      border: 0;
      outline: none;
      fill: #d1d1d1;
      margin: 0 4px;
      cursor: pointer;
      transition: fill $animation-duration ease,
        transform $animation-duration ease;

      &:hover {
        fill: $color-text-selected;
        transform: scale(1.1);
      }

      &:active {
        fill: darken($color: $color-text-selected, $amount: 10%);
      }
    }
  }
}

.partners {
  padding: 140px 0;
  background: url(../img/bg_slider.jpg) 50% 50% no-repeat;
  background-color: #404040;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &-img {
    margin: 0 45px;
    transition: transform $animation-duration ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.recent {
  background-color: #191919;
  display: flex;
  justify-content: center;
  padding: 80px 0;

  &-about {
    width: 260px;
    margin-right: 40px;
    &-p {
      @include text-p(
        $f-size: 14px,
        $l-height: 1.75,
        $color: $color-header,
        $f-weight: $font-weight-500,
        $t-align: left
      );
      margin: 22px 0;
    }
    &-link {
      @extend .posts-item-link;
      color: #d1d1d1;
      font-weight: $font-weight-500;
      &:after {
        border-left-color: #d1d1d1;
      }
    }
  }

  &-h {
    @include text-h4;
    margin-bottom: 24px;
  }

  &-posts {
    @include recent-wrp;

    &-item {
      @include recent-post;

      &:hover {
        & .recent-posts-item-date {
          color: #fff;
        }

        & .recent-posts-item-p {
          color: $color-text-selected;
        }
      }

      &:active {
        & .recent-posts-item-date {
          color: #d1d1d1;
        }

        & .recent-posts-item-p {
          color: darken($color: $color-text-selected, $amount: 10%);
        }
      }

      &-p {
        transition: color $animation-duration ease;
      }

      &-date {
        margin-bottom: 6px;
        transition: color $animation-duration ease;
      }
    }
  }

  &-twitter {
    @include recent-wrp;

    &-item {
      @include recent-post;

      &-date {
        margin-top: 6px;
      }

      &-a {
        @include text-p(
          $f-size: 14px,
          $l-height: 20px,
          $color: #00bff3,
          $f-weight: $font-weight-500,
          $t-align: left
        );
        text-decoration: none;
        display: inline;
        transition: color $animation-duration ease;

        &:hover {
          color: darken($color: #00bff3, $amount: 10%);
        }

        &:active {
          color: darken($color: #00bff3, $amount: 20%);
        }
      }

      &-link {
        @extend .recent-twitter-item-a;
        color: #959595;
        transition: color $animation-duration ease;

        &:hover {
          color: darken($color: #959595, $amount: 5%);
        }
        &:active {
          color: darken($color: #959595, $amount: 10%);
        }
      }
    }
  }

  &-dribbble {
    @include recent-wrp;
    margin-right: 0;
    width: 274px;

    &-wrp {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &-img {
      transition: transform 0.5s ease;
      &:hover {
        transform: scale(1.1);
      }
    }

    &-link {
      margin-bottom: 10px;
      &:nth-last-of-type(-n + 2) {
        margin-bottom: 0px;
      }
    }

    &-img {
      width: 130px;
      height: 98px;
      display: block;
    }
  }
}

.footer {
  background-color: #111;
  font-size: 13px;
  font-family: $font-montserrat;
  color: $color-header;
  font-weight: $font-weight-400;
  padding: 45px 0 55px;

  &-wrp {
    width: $wrp-size;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
  }

  &-links {
    display: flex;
    justify-content: center;

    &-waxom {
      color: #959595;
    }

    &-link {
      color: $color-header;
      text-decoration: none;
      position: relative;
      display: block;
      margin-left: 16px;
      text-decoration: none;
      transition: color $animation-duration ease;

      &:hover {
        color: $color-text-selected;
      }

      &:active {
        color: darken($color: $color-text-selected, $amount: 10%);
      }

      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 13px;
        width: 0;
        border-left: 1px solid #252525;
        top: 0;
        left: -8px;
      }
    }
  }

  &-authors {
    display: flex;

    &-text {
      display: block;
    }

    &-text:last-child {
      position: relative;
      margin-left: 16px;

      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 13px;
        width: 0;
        border-left: 1px solid #252525;
        top: 0;
        left: -8px;
      }
    }

    &-link {
      color: $color-header;
      text-decoration: none;
      position: relative;
      text-decoration: none;
      color: #959595;
      transition: color $animation-duration ease;

      &:hover {
        color: $color-text-selected;
      }

      &:active {
        color: darken($color: $color-text-selected, $amount: 10%);
      }
    }
  }
}

@media (max-width: 480px) {
  html {
    overflow-x: hidden;
  }

  body {
    max-width: 480px;
    min-width: $wrp-size-m;
    width: 100%;
    overflow: hidden;
  }

  .header {
    min-width: $wrp-size-m;
    width: 100%;
    padding-top: 24px;

    &-nav {
      visibility: hidden; //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    }
  }

  .slides {
    min-height: 560px;

    &-switcher {
      display: none;
    }

    &-pretitle {
      font-size: 24px;
    }

    &-title {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 40px;
    }

    &-description {
      padding: 0 20px;
      max-width: 100%;
      box-sizing: border-box;
    }
  }

  .services {
    padding: 56px 0;
    flex-wrap: wrap;

    &-item {
      width: 276px;
      text-align: center;
      margin: 0 12px 36px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .theme {
    padding: 56px 20px 0;

    &-title {
      font-size: 24px;
      width: 320px;
      margin: 0 auto 16px;
    }

    &-p {
      margin: 0 auto 24px;
      width: 100%;
    }

    &-img {
      width: 100%;
      height: 100%;
    }
  }

  .purchase {
    &-wrp {
      max-width: 100%;
      padding: 36px 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    &-title {
      font-size: 24px;
      margin-bottom: 8px;
      line-height: 1.2;
      display: block;
      text-align: center;
    }

    &-p {
      font-size: 16px;
      line-height: 1.5;
      display: block;
      padding: 0 20px;
      margin-bottom: 12px;
      text-align: center;
    }

    &-btn {
      margin: 0 auto;
    }
  }

  .projects {
    padding: 56px 20px;

    &-title {
      font-size: 24px;
      width: 320px;
      margin: 0 auto 16px;
    }

    &-p {
      margin: 0 auto 24px;
      width: 100%;
    }

    &-btns {
      display: flex;
      justify-content: center;
      margin: 0 auto 16px;
      flex-wrap: wrap;
    }

    & .btn-small {
      margin: 0 5px 8px;
    }

    &-wrp {
      max-width: $wrp-size;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .video {
    height: 240px;
    position: relative;

    &-btn {
      &-icon {
        padding: 15px;
        margin: 0 auto 20px;
        height: 56px;
        width: 56px;
      }
    }

    &-title {
      font-size: 24px;
      margin-bottom: 12px;
    }

    &-p {
      display: none;
    }
  }

  .mobile {
    padding: 56px 24px;
    display: block;

    &-img {
      display: none;
    }

    &-text {
      &-title {
        font-size: 24px;
        width: 320px;
        margin: 0 0 16px 0;
      }

      &-p {
        margin: 0 auto 24px;
        width: 100%;
        font-size: 14px;
      }

      &-list {
        margin-left: 0px;
        padding-left: 40px;

        &-item {
          font-size: 14px;

          &:before {
            left: -40px;
          }
        }
      }
    }
  }

  .stats {
    padding: 56px 20px;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      width: 130px;
      margin: 0 20px 48px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &-img {
        margin: 0 auto 16px;
      }

      &-value {
        font-size: 36px;
        margin-bottom: 12px;
      }

      &-name {
        margin-bottom: 24px;
      }
    }
  }

  .posts {
    padding: 56px 20px;

    &-title {
      font-size: 24px;
      width: 320px;
      margin: 0 auto 16px;
    }

    &-p {
      margin: 0 auto 24px;
      width: 100%;
    }

    &-wrp {
      max-width: 480px;
    }
    &-item {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 24px;
      }
    }
  }

  .partners {
    padding: 0;
    flex-wrap: wrap;

    &-img {
      margin: 20px 45px;
      width: 105px;
      height: auto;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .recent {
    padding: 56px 40px;
    flex-wrap: wrap;
    justify-content: flex-start;

    &-about {
      margin-right: 0px;
      margin-bottom: 24px;
    }

    &-h {
      @include text-h4;
      margin-bottom: 24px;
    }

    &-posts {
      margin-bottom: 16px;
    }

    &-twitter {
      margin-bottom: 16px;
    }
  }

  .footer {
    padding: 36px 24px 48px;

    &-wrp {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      padding: 0;
    }

    &-links {
      margin-bottom: 16px;
      flex-wrap: wrap;

      &-copy {
        text-align: center;
        display: block;
        width: 100%;
        margin-bottom: 16px;
      }

      &-link {
        &:first-of-type {
          margin-left: 0;
          &:before {
            display: none;
          }
        }
      }
    }

    &-authors {
      justify-content: center;
    }
  }
}

// .mobile,
// .stats,
// .partners,
// .recent,
// .posts,
// .video,
// .purchase,
// .projects,
// .services,
// .theme,
.footer1 {
  display: none;
}
